<section class="columns is-multiline">
  <aside>
    <% @cars.each do |car| %>
      <%= render partial: 'cars/car', locals: { car: car, show_link: true } %>
    <% end %>
  </aside>
</section>

<%= paginate @cars %>
