<p>
  Found <%= pluralize(@cars.size, 'result') %>
  for the search term "<%= params[:search_term] %>".
</p>

<div class="search-results columns is-multiline">
  <%= render partial: 'cars/car',
             collection: @cars,
             locals: { show_link: true } %>
</div>